<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <title>Cosmegos</title>
  </head>
  <body>
    <nav>
      <a id="logo" href="/home">Cosmegos</a>
      <a href="">Help</a>
      <a href="/shop">Shop</a>
      <div id="loginShop">
        <a id="login" href="/register"
          ><button id="login-btn">Register</button></a
        >
        <a id="product-container" href="">
          <i id="product-number" class="fas fa-shopping-cart"></i
        ></a>
      </div>
    </nav>

    <main>
      <section>
        <h1>Welcome to Cosmegos, the biggest cosmetics shop!</h1>
        <h2>
          Start browsing for cosmetics<span><a href="/shop"> here.</a></span>
        </h2>
      </section>
    </main>
  </body>
</html>
