<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/register.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <title>Cosmegos</title>
  </head>
  <body>
    <nav>
      <a id="logo" href="/">Cosmegos</a>
      <a href="">Help</a>
      <a href="/shop">Shop</a>
      <div id="loginShop">
        <a id="login" href="/register"
          ><button id="login-btn">Register</button></a
        >
        <a id="product-container" href="">
          <i id="product-number" class="fas fa-shopping-cart"></i
        ></a>
      </div>
    </nav>

    <main>
      <form id="register-form" action="">
        <label for="username">User:</label>
        <input class="login-inputs" id="username" type="text" required />

        <label for="email">Email:</label>
        <input class="login-inputs" id="email" type="email" required />

        <label for="password">Password:</label>
        <input
          class="login-inputs"
          id="password"
          type="password"
          required
          minlength="5"
          maxlength="16"
        />
        <h5>
          Already registered? <a id="login-redirect" href="/login">Sign in.</a>
        </h5>
        <button id="register-btn">Register!</button>
      </form>
    </main>
  </body>
</html>
