<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/shop.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <title>Cosmegos</title>
  </head>
  <body>
    <nav>
      <a id="logo" href="/">Cosmegos</a>
      <a href="">Help</a>
      <a href="/shop">Shop</a>
      <div id="loginShop">
        <a id="login" href="/register"
          ><button id="login-btn">Register</button></a
        >
        <a id="product-container" href="">
          <i id="product-number" class="fas fa-shopping-cart"></i
        ></a>
      </div>
    </nav>

    <main>
      <section id="filter-section">
        <div id="filter">
          <h2>Filter by price:</h2>
          <h3>From 0$ to 100$</h3>
          <h2>Filter by product:</h2>
          <ul>
            <li>Lipstick</li>
            <li>Eyebrows</li>
            <li>asd</li>
          </ul>
        </div>
      </section>
      <section id="row-1" class="item-rows">
        <img src="/pictures/lipstick1.jpg" alt="" />
        <h2 class="price">$20.00</h2>
        <p>Maybelline NEW YORK red lipstick</p>
        <button>Add to cart</button>
      </section>

      <section id="row-2" class="item-rows">
        <img src="/pictures/lipstick2.jpg" alt="" />
        <h2 class="price">$25.00</h2>
        <p>The CREAMY MATTES violet lipstick</p>
        <button>Add to cart</button>
      </section>

      <section id="row-3" class="item-rows">
        <img src="/pictures/lipstick3.jpg" alt="" />
        <h2 class="price">$27.99</h2>
        <p>MANISH MALHOTRA violet lipstick</p>
        <button>Add to cart</button>
      </section>

      <section id="row-4" class="item-rows">
        <img src="/pictures/lipstick4.jpg" alt="" />
        <h2 class="price">$23.99</h2>
        <p>Covergirl violet lipstick</p>
        <button>Add to cart</button>
      </section>

      <section id="row-5" class="item-rows">
        <img src="/pictures/lipstick5.jpg" alt="" />
        <h2 class="price">$18.99</h2>
        <p>Kosas pink lipstick</p>
        <button>Add to cart</button>
      </section>

      <section id="row-6" class="item-rows">
        <img src="/pictures/oja1.jpg" alt="" />
        <h2 class="price">$3.99</h2>
        <p>Oja semipermanenta, Canni, 034 orange red, 7.3 ml</p>
        <button>Add to cart</button>
      </section>

      <section id="row-7" class="item-rows">
        <img src="/pictures/oja2.jpg" alt="" />
        <h2 class="price">$5.99</h2>
        <p>Oja semipermanenta, Canni, 237 violet, 7.3 ml</p>
        <button>Add to cart</button>
      </section>

      <section id="row-8" class="item-rows">
        <img src="/pictures/oja3.jpg" alt="" />
        <h2 class="price">$15.99</h2>
        <p>Oja semi Semilac pastells just blue 269</p>
        <button>Add to cart</button>
      </section>

      <section id="row-9" class="item-rows">
        <img src="/pictures/paleta1.jpg" alt="" />
        <h2 class="price">$13.99</h2>
        <p>Paleta farduri de pleoape Technic I</p>
        <button>Add to cart</button>
      </section>

      <section id="row-10" class="item-rows">
        <img src="/pictures/paleta2.jpg" alt="" />
        <h2 class="price">$35.99</h2>
        <p>Makeup Revolution Forever Flawless Palette</p>
        <button>Add to cart</button>
      </section>

      <section id="row-11" class="item-rows">
        <img src="/pictures/paleta3.jpg" alt="" />
        <h2 class="price">$25.99</h2>
        <p>Paleta farduri Carnival Stacey Marie</p>
        <button>Add to cart</button>
      </section>

      <section id="row-12" class="item-rows">
        <img src="/pictures/rimel1.jpg" alt="" />
        <h2 class="price">$5.00</h2>
        <p>This is a very nice lipstick</p>
        <button>Add to cart</button>
      </section>

      <section id="row-13" class="item-rows">
        <img src="/pictures/rimel2.jpg" alt="" />
        <h2 class="price">$5.00</h2>
        <p>This is a very nice lipstick</p>
        <button>Add to cart</button>
      </section>

      <section id="row-14" class="item-rows">
        <img src="/pictures/rimel3.jpg" alt="" />
        <h2 class="price">$5.00</h2>
        <p>This is a very nice lipstick</p>
        <button>Add to cart</button>
      </section>

      <section id="row-15" class="item-rows">
        <img src="/pictures/rimel4.jpg" alt="" />
        <h2 class="price">$5.00</h2>
        <p>This is a very nice lipstick</p>
        <button>Add to cart</button>
      </section>

      <section id="row-16" class="item-rows">
        <img src="/pictures/rimel5.jpg" alt="" />
        <h2 class="price">$14.99</h2>
        <p>Rimel bio Maro Avril</p>
        <button>Add to cart</button>
      </section>
    </main>
  </body>
</html>
